@charset "UTF-8";
.pacman {
  position: relative;
  text-align: center;
  margin-top: auto;
  background-color: #17110d;
  max-width: 100%;
}
.pacman img:first-child {
  width: 55%;
}

.logo-1 {
  position: absolute;
  top: 0;
  left: 2%;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  width: 8%;
  z-index: 2;
  transform: rotate(354deg);
  animation: shake-left 0.8s linear both;
}
@keyframes shake-left {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.abrirmenu {
  font-size: 1.25rem;
  background-color: yellow;
  cursor: pointer;
  display: none;
}

.cerrarmenu {
  font-size: 1.25rem;
  background-color: yellow;
  cursor: pointer;
  display: none;
  position: relative;
  left: 96%;
}

header {
  display: contents;
  background-image: url("../img/pacman.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  color: #ffffff;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.navbarcustom1 {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 120%;
  justify-content: end;
  z-index: 1000;
}

li {
  display: flex;
  position: relative;
  top: -10px;
  margin: 0;
  padding: 5px 14px;
  font-size: 14px;
  color: #0e0c0c;
  border: double;
  border-radius: 5px;
  background-color: yellow;
}

.bg-1 {
  background: yellow;
}

a:active {
  color: red;
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 40%;
}

a {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}
a:hover {
  background: yellow;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}

.menu {
  background-color: lightcoral;
}

.navbar-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0px;
  background-color: lightgray !important;
}

.col {
  font-family: monospace;
  margin-top: 80px;
}

.parrafo {
  color: black;
  font-size: 30px;
  text-align: justify;
}

.p-2 {
  color: black;
  margin-top: 15px;
  font-family: cursive;
  font-size: 10px;
}

.p-3 {
  color: black;
  margin-top: -30px;
}

.top-tabla {
  border-radius: 5px;
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-top: 80px;
  text-align: -webkit-center;
  animation: tracking-in-expand-forward-bottom 0.4s linear both;
  color: coral;
}

.animacion {
  animation: tracking-in-contract 0.4s linear both;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.6em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.title-3 {
  text-align: center;
  color: #6e1f15;
  font-family: cursive;
  font-size: 30px;
  text-decoration: overline;
}

.title-4 {
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  text-decoration: underline;
}

#top {
  text-align: center;
  margin-top: 50%;
}

main {
  flex: 1 0 auto;
}

.color-1 {
  background: lightcyan;
  text-decoration: underline;
  text-decoration-style: double;
}

.card-border {
  border: 1px solid #0e0c0c;
}

.card-title {
  flex-grow: 1;
}

.carousel {
  position: relative;
  background: #0e0c0c;
  height: auto;
  width: auto;
}

.card-fill {
  background-color: blue;
  width: 70%;
  margin-left: 13%;
}

.col {
  margin-top: unset !important;
}

.star-border {
  border-bottom: 1px solid #0e0c0c;
}

.imagenes {
  width: 80%;
  height: auto;
  margin-top: 10px;
}

p {
  font-weight: bold;
}

.col-6 {
  margin-top: 20px;
  flex: 0 0 auto;
  width: 50%;
  text-align: justify;
}

.titulo {
  background-color: aqua;
  color: coral;
  box-shadow: 4px 4px 8px black;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  margin-top: 20px;
}

.title-2 {
  color: coral;
  box-shadow: 4px 4px 8px black;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  margin-top: 20px;
}

.title-custom {
  text-align: center;
  color: coral;
  font-family: cursive;
  text-decoration: overline;
  font-size: 20px;
  margin-top: 10px;
}

.custom-img {
  max-width: 700px;
  margin: 0 auto;
}

.table {
  margin: auto;
  text-align: center;
  --bs-body-bg: cornsilk;
  border-collapse: collapse;
  font-weight: bold;
  border: 2px darkmagenta;
  width: 40% !important;
}
.table thead {
  font-family: cursive;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
}

.videogame {
  display: flow-root;
  font-weight: bold;
  text-align: -webkit-center;
  animation: tracking-in-expand-forward-bottom 0.4s linear both;
  color: coral;
  margin-top: 70px;
  margin-bottom: 20px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.star {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
.star:before {
  content: "★";
  font-size: 24px;
  color: #ddd;
}
.star.checked:before {
  content: "★";
  color: #ffcc00;
}

.table-custom {
  text-align: -webkit-center;
  color: #dc143c;
  font-family: cursive;
  font-size: 20px;
}

.table-1 {
  background: cornsilk;
}

.not-show {
  display: none;
}

iframe {
  border: 0;
  width: 100%;
  height: 75%;
}

.row {
  margin-inline: 0px !important;
}

.form-control {
  width: 35% !important;
  margin-left: 30%;
}

.form-label {
  margin-left: 30%;
  font-weight: bold;
}

.btn-primary {
  margin-left: 48%;
}

.contacto1 {
  background-color: lightblue;
}

.carrito {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.carrito i {
  font-size: 24px;
  margin-right: 10px;
  margin-left: 90%;
}

.numero-articulos {
  background-color: #ffffff;
  color: red;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  margin-left: -7px;
}

footer {
  width: 100%;
  background-color: lightcoral;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.logo {
  width: 25px;
  height: auto;
}

.redes {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #6e1f15;
  text-decoration: underline;
  margin-right: 100px;
  text-align: end;
  margin-top: 10px;
  font-family: cursive;
}

.footer-item {
  display: inline-block;
  margin-right: 30px;
}

.ft-1- {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 50px;
}

.logo-2 {
  width: 7%;
  height: auto;
  display: block;
  margin-bottom: -110px;
  margin-left: 100px;
  transform: rotate(354deg);
  animation: shake-left 0.8s linear both;
}
@keyframes shake-left {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.socials {
  text-align: end;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1290px) {
  .abrirmenu {
    display: block;
    margin-left: 96%;
  }
}
@media screen and (max-width: 1110px) {
  .abrirmenu {
    display: block;
    margin-left: 96%;
  }
}
@media screen and (max-width: 900px) {
  .abrirmenu {
    margin-left: 95%;
  }
}
@media screen and (max-width: 768px) {
  .abrirmenu {
    margin-left: 92%;
  }
}
@media screen and (max-width: 450px) {
  .abrirmenu {
    margin-left: 88%;
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  .abrirmenu {
    margin-left: 88%;
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .abrirmenu {
    margin-left: 88%;
    font-size: 12px;
  }
}

@media screen and (max-width: 1290px) {
  .navbarcustom1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  .navbarcustom1.visible {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 1110px) {
  .navbarcustom1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  .navbarcustom1.visible {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 1290px) {
  .listcustom1 {
    flex-direction: column;
    align-items: end;
    margin-top: 25px;
  }
}
@media screen and (max-width: 1110px) {
  .listcustom1 {
    flex-direction: column;
    align-items: end;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1290px) {
  .logo-1 {
    top: 20px;
    left: 5%;
  }
}
@media screen and (max-width: 1110px) {
  .logo-1 {
    top: 20px;
    left: 5%;
  }
}

@media screen and (max-width: 1290px) {
  .logo-2 {
    margin-left: 30px;
    width: 10%;
  }
}
@media screen and (max-width: 1110px) {
  .logo-2 {
    margin-left: 30px;
    width: 10%;
  }
}
@media screen and (max-width: 900px) {
  .logo-2 {
    margin-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  .logo-2 {
    margin-left: 10px;
  }
}
@media screen and (max-width: 540px) {
  .logo-2 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .logo-2 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .logo-2 {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .logo-2 {
    display: none;
  }
}

@media screen and (max-width: 1290px) {
  .ft-1- {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1110px) {
  .ft-1- {
    margin-top: 20px;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 768px) {
  .ft-1- {
    margin-top: 40px;
  }
}
@media screen and (max-width: 540px) {
  .ft-1- {
    margin-top: 0px;
  }
}
@media screen and (max-width: 450px) {
  .ft-1- {
    margin-top: 0px;
    font-size: 8px;
  }
}
@media screen and (max-width: 420px) {
  .ft-1- {
    margin-top: 0px;
    font-size: 8px;
  }
}
@media screen and (max-width: 280px) {
  .ft-1- {
    margin-top: 0px;
    font-size: 8px;
  }
}

@media screen and (max-width: 1290px) {
  .pie {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1110px) {
  .pie {
    margin-top: 50px;
  }
}
@media screen and (max-width: 900px) {
  .pie {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .pie {
    margin-top: 40px;
  }
}
@media screen and (max-width: 540px) {
  .pie {
    margin-top: 40px;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 1290px) {
  .animacion {
    margin-top: 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 1110px) {
  .animacion {
    margin-top: 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 900px) {
  .animacion {
    margin-top: 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .animacion {
    margin-top: 10px;
    font-size: 26px;
  }
}
@media screen and (max-width: 540px) {
  .animacion {
    margin-top: 10px;
  }
}
@media screen and (max-width: 420px) {
  .animacion {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .animacion {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1290px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 1110px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 990px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 900px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 540px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 420px) {
  .socials {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 280px) {
  .socials {
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 1110px) {
  .videogame {
    margin-top: 35px;
    font-size: 25px;
  }
}
@media screen and (max-width: 990px) {
  .videogame {
    margin-top: 30px;
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .videogame {
    margin-top: 30px;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .videogame {
    margin-top: 30px;
    font-size: 25px;
  }
}
@media screen and (max-width: 540px) {
  .videogame {
    margin-top: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .videogame {
    margin-top: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .videogame {
    margin-top: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 280px) {
  .videogame {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1290px) {
  .p-3 {
    font-size: 10px;
    margin-top: -35px;
  }
}
@media screen and (max-width: 900px) {
  .p-3 {
    font-size: 7px;
  }
}

@media screen and (max-width: 1290px) {
  .color-1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 1290px) {
  .title-custom {
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .title-custom {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1290px) {
  .last-image {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1110px) {
  .last-image {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 990px) {
  .p-2 {
    margin-top: 0px;
    font-size: 7px;
  }
}
@media screen and (max-width: 768px) {
  .p-2 {
    margin-top: 0px;
    font-size: 10px;
  }
}

@media screen and (max-width: 990px) {
  .parrafo {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .parrafo {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .parrafo {
    font-size: 15px;
  }
}
@media screen and (max-width: 540px) {
  .parrafo {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .bg-1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .title-2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 540px) {
  .title-2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .title-2 {
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .title-2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  .table-custom {
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .table-custom {
    font-size: 5px;
  }
}
@media screen and (max-width: 420px) {
  .table-custom {
    font-size: 5px;
  }
}
@media screen and (max-width: 280px) {
  .table-custom {
    font-size: 5px;
  }
}

@media screen and (max-width: 540px) {
  .title-3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 420px) {
  .title-3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 280px) {
  .title-3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .table {
    font-size: 10px;
  }
}
@media screen and (max-width: 280px) {
  .table {
    font-size: 8px;
  }
}

@media screen and (max-width: 420px) {
  .cerrarmenu {
    left: 90%;
  }
}
@media screen and (max-width: 280px) {
  .cerrarmenu {
    left: 90%;
  }
}
@media screen and (max-width: 900px) {
  .cerrarmenu {
    left: 95%;
  }
}
@media screen and (max-width: 768px) {
  .cerrarmenu {
    left: 92%;
  }
}
@media screen and (max-width: 450px) {
  .cerrarmenu {
    left: 87%;
  }
}
@media screen and (max-width: 280px) {
  .cerrarmenu {
    left: 85%;
  }
}

@media screen and (max-width: 420px) {
  .main {
    margin-left: 50px;
  }
}
@media screen and (max-width: 280px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width: 420px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .col-6 {
    display: contents;
  }
}

@media screen and (max-width: 768px) {
  .imagenes {
    margin-left: 65px;
    border: 5px solid #6e1f15;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
